@use "./sass/abstracts/variables" as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: v.$font-family;
  background-color: v.$primary-accent;
  color: v.$primary-accent;
  position: relative;
}

button {
  all: unset;
  cursor: pointer;
}
