@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../components/inputs" as *;
@use "../components/arrows" as *;
@use "sass:map";

.authContainer {
  @include m.center-flex;
  min-height: 100vh;
  position: relative;
}

.authContent {
  @include m.flex(column);
  @include m.content-container-base(v.$space-xxl);
  position: relative;

  .serverMessageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    position: absolute;
    top: -10%;
    box-shadow: v.$shadow-dark;
    font-size: v.$font-size-lg;
    border-radius: v.$border-sm;

    .error {
      color: v.$error-color;
    }

    .success {
      color: v.$success-color;
    }
  }

  div {
    margin-bottom: v.$space-md;

    button {
      @extend .arrow;
    }

    h2 {
      text-align: center;
    }
  }
}

.authInputLabel {
  @extend .inputFieldLabel;
}

.authInputLabelName {
  @extend .inputLabelName;
}

.authInputField {
  @extend .inputField;
}

@media (max-width: map.get(v.$breakpoints, "sm")) {
  .authContent {
    padding: v.$space-xxl v.$space-md;
    width: 100%;
    height: 100%;
  }
}
