@use "../../sass/abstracts/mixins" as m;
@use "../../sass/abstracts/variables" as v;
@use "../../sass/base/actions" as *;

.modalBackdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  @include m.center-flex;
  z-index: 1000;
}

.modal {
  position: relative;
  @include m.flex(column);
  border-radius: v.$border-md;
  padding: v.$space-md;
  background-color: v.$primary-accent;
  width: 90vw;
  max-width: 400px;
  height: 400px;
}

.cropperContainer {
  position: relative;
  flex-grow: 1;
  border-radius: v.$border-sm;
  overflow: hidden;
}

.actions {
  @extend .actionsBase;
}
