@use "../../sass/abstracts/variables" as v;
@use "../../sass/abstracts/mixins" as m;
@use "../../sass/base/container" as *;
@use "../../sass/base/actions" as *;
@use "../../sass/components/inputs" as *;
@use "../../sass/components/buttons" as *;
@use "../../sass/components/arrows" as *;

.container {
  @include m.center-flex;
  min-height: 100vh;
  position: relative;

  .contentContainer {
    @include m.flex(column);
    @include m.content-container-base(v.$space-xl);
    align-items: center;
    justify-content: space-evenly;
    max-width: 25rem;
    min-width: 20vw;
    min-height: 30vh;
  }

  h2 {
    text-align: center;
  }

  p {
    text-align: center;
    margin-top: v.$space-sm;
  }

  .createWorkspaceButtonRedirect {
    @include m.button-base;

    &:hover {
      @include m.button-hover;
    }
  }

  label {
    @extend .inputFieldLabel;
    margin-top: v.$space-sm;

    span:nth-child(2) {
      margin-left: v.$space-xs;
    }

    .submitError {
      color: v.$error-color;
    }

    .submitSuccess {
      color: v.$success-color;
    }

    div {
      display: flex;
      align-items: center;
      gap: v.$space-xs;

      input {
        @extend .inputField;
      }

      button {
        @include m.center-flex;
        background-color: v.$primary-accent;
        color: v.$secondary-accent;
        padding: v.$space-xs;
        border-radius: 50%;
        width: 1.25rem;
        height: 1.25rem;

        &:hover {
          @include m.button-hover;
        }
      }
    }
  }
}

.submitMessage {
  position: absolute;
  left: 0;
  right: 0;
  top: v.$space-sm;
  margin-inline: auto;
  max-width: 12rem;
  overflow-wrap: break-word;
  text-align: center;
}

.workspaceOverviewModal {
  @extend .modal;
  backdrop-filter: blur(4px);

  .workspaceOverviewModalContent {
    @include m.center-flex(column);
    @include m.content-container-base(v.$space-xl);
    justify-content: space-around;
    position: relative;
    background-color: v.$primary-accent;
    color: v.$secondary-accent;

    .submitSuccess {
      @extend .submitMessage;
      color: v.$success-color;
    }

    .submitError {
      @extend .submitMessage;
      color: v.$error-color;
    }

    h2 {
      margin: v.$space-md 0;
    }

    .overviewArrow {
      @extend .arrow;
      top: 0;
      right: 0;
    }

    img {
      @include m.workspace-avatar-base(none, none, 7rem);
    }

    .actions {
      @extend .actionsBase;
    }
  }
}

.workspaceCreationModal {
  @extend .modal;
  backdrop-filter: blur(4px);

  .workspaceCreationModalContentContainer {
    @include m.flex(column);
    @include m.content-container-base(v.$space-xl);
    position: relative;
    max-width: 25rem;
    min-width: 20rem;

    .submitError {
      @extend .submitMessage;
      color: v.$error-color;
    }

    .submitSuccess {
      @extend .submitMessage;
      color: v.$success-color;
    }

    .workspaceCreationArrow {
      @extend .arrow;
      top: -0.25rem;
      left: 0;
    }

    .uploadImageContainer {
      display: flex;
      justify-content: center;
      margin-top: v.$space-md;

      &:hover {
        opacity: 0.98;
        transition: 0.3s;
      }

      div {
        position: relative;

        .workspaceImagePreview {
          @include m.workspace-avatar-base;
        }

        button {
          @include m.center-flex;
          position: absolute;
          top: -0.3rem;
          right: -0.4rem;

          svg {
            font-size: v.$font-size-xl;
          }
        }
      }
    }

    .workspaceNameLabel {
      margin-top: v.$space-md;
    }

    label {
      @extend .inputFieldLabel;

      input {
        @extend .inputField;
      }

      .textAreaLabelContent {
        display: flex;
        justify-content: space-between;
      }

      textarea {
        @extend .inputField;
        min-height: 5rem;
        max-height: 10rem;
        overflow-y: auto;
        overflow-wrap: break-word;
        resize: vertical;

        &::placeholder {
          color: v.$placeholder-color;
        }
      }
    }

    .createWorkspaceButton {
      @extend .defaultButton;

      &:hover:not(:disabled) {
        @include m.button-hover;
      }

      &:disabled {
        @include m.button-base-disabled;
      }
    }
  }
}
