@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.actionsBase {
  display: flex;
  justify-content: flex-end;
  gap: v.$space-md;
  margin-top: v.$space-md;

  button {
    padding: v.$space-sm v.$space-md;
    border-radius: v.$border-sm;
    cursor: pointer;
    color: v.$secondary-accent;
    background-color: v.$primary-accent;

    &:hover {
      @include m.button-hover;
    }

    &:last-child {
      background-color: v.$secondary-accent;
      color: v.$primary-accent;

      &:hover {
        @include m.button-hover;
      }
    }
  }
}
